.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #376B7E;
  margin: 3px;
}

.respuesta {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  /* border: 1px solid #376B7E; */
  margin: 3px;
  /* border-radius: 15px; */
  font-size: 0.95rem;
  font-weight: medium;
  position: relative;
  width: auto;
  max-width: 80%;
  margin-left: 2px;
  text-align: left;
}